@import "../../styles/variables";
@import "../../styles/mixins";

.login-page {
  background-color: #f1f1f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // @include tablet{
  //   background-color: red;
  //   letter-spacing: 10px;
  // }  


  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

 
}


